@model System.Dynamic.ExpandoObject;
@{
    ViewData["Title"] = "Home Page";
}

    <!-------   Main   -------->
    <div class="h-full w-full bg-gray-200">
        
        
       

        <!--------Content----->

        <div class="float-left my-8 ml-10 w-fit">
            

            
                <p class="">Tours List: </p>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                        <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="hidden px-6 py-3">
                                    Id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tour Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tour Title
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    More
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (Tour tour in ViewBag.Tours)
                    {
                        <tr class="bg-white hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-600">
                            <th scope="row" class="hidden whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                @tour.Id
                            </th>
                            <td class="px-6 py-4">
                                @tour.Tour_Name
                            </td>
                            <td class="px-6 py-4">
                                @tour.Title
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">
                                    More
                                </a>
                            </td>
                        </tr>
                    }
                    
                        </tbody>
                    </table>
                </div>
                <div class="mt-2 w-full">
                    <a  href="#" class="float-right text-sm text-sky-600 hover:underline dark:text-blue-500">See all Items</a>
                    <a  href="#" class="text-sm text-sky-600 hover:underline dark:text-blue-500">Add New Item</a>
                </div>
           

        </div>
    
        
        <div class="">
            
            <div class="float-right my-8 mr-10 grid w-fit">
                <p class="">Reservation List: </p>

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                        <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="hidden px-6 py-3">
                                    id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tour Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Count
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Reserved By
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Is Active
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Accept</span>
                                </th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(Reservation reserve in ViewBag.Reservation)
                        {
                            <tr class="bg-white hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-600">
                                <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    @reserve.Id
                                </th>
                                <td class="px-6 py-4">
                                    @reserve.Tour_Name
                                </td>
                                <td class="px-6 py-4">
                                    @reserve.Reserved_Count
                                </td>
                                <td class="px-6 py-4">
                                    @reserve.Person_Name
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Edit</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                    </table>
                </div>
                <div class="mt-2 w-full">
                    <a  href="#" class="float-right text-sm text-sky-600 hover:underline dark:text-blue-500">See all Items</a>
                    <a  href="#" class="text-sm text-sky-600 hover:underline dark:text-blue-500">Add New Item</a>
                </div>
                
            </div>
        </div>
        


        <div class="float-left my-8 ml-10 w-fit">
            
            <p class="">List of Users: </p>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                    <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="hidden px-6 py-3">
                                Id
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Family
                            </th>
                            <th scope="col" class="px-6 py-3">
                                UserName
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Details</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (Person person in ViewBag.Person)
                    {
                        <tr class="border-b bg-white hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                            <th scope="row" class="hidden whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                @person.Id
                            </th>
                            <td class="px-6 py-4">
                                @person.Name
                            </td>
                            <td class="px-6 py-4">
                                @person.Family
                            </td>
                            <td class="px-6 py-4">
                                @person.Username
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">More</a>
                            </td>
                        </tr>

                    }
                </tbody>
                </table>
            </div>
            <div class="mt-2 w-full">
                <a  href="#" class="float-right text-sm text-sky-600 hover:underline dark:text-blue-500">See all Items</a>
                <a  href="#" class="text-sm text-sky-600 hover:underline dark:text-blue-500">Add New Item</a>
            </div>
        </div>
        </div>

    </div>

    





