@model Final_project_2.Models.Person

@{
    ViewData["Title"] = "Prfile";
}

<h1>Prfile</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Admin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Joined_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Joined_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City_And_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City_And_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Favorit_food)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Favorit_food)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Favorit_sport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Favorit_sport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Actived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Actived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telegram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telegram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
