@model System.Dynamic.ExpandoObject;
@{
    ViewData["Title"] = "Admin Pandel";
}


<div class="mx-80 mt-20">
    <div class="space-y-12">


        <div class="border-gray-900/10 border-b pb-12">
            <div class="flex w-full justify-between">

               <div class="float-left flex">
                    <div class="mr-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Verification State</label>
                        <div class="mt-2">
                            @if (ViewBag.Person.Is_Actived == true)
                            {
                                <p class="border-0 ring-1 block w-full rounded-md py-1.5 font-bold text-green-800 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    Verified
                                </p>
                            }
                            else
                            {
                                <p class="border-0 ring-1 block w-full rounded-md py-1.5 font-bold text-red-800 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    Not Verified
                                </p>
                            }



                        </div>
                    </div>

                    <div class="mx-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Role</label>
                        <div class="mt-2">
                            @if (ViewBag.Person.Is_Admin)
                            {
                                <p class="border-0 ring-1 block w-full rounded-md py-1.5 font-bold text-yellow-700 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    Admin

                                </p>
                            }
                            else
                            {
                                <p class="border-0 ring-1 block w-full rounded-md py-1.5 font-bold text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                                    Normal User
                                </p>
                            }

                        </div>
                    </div>
               </div>


                <a class="float-right flex h-9 rounded-lg bg-blue-500 px-3 hover:bg-blue-800" asp-action="EditPerson" asp-route-id="@ViewBag.Person.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 w-5 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                    </svg>
                    <p class="mt-1 text-xl text-white">
                        Edit
                    </p>
                    </a>

            </div>

            <div class="grid-cols-1 mt-10 grid gap-x-6 gap-y-8 sm:grid-cols-6">

                <div class="sm:col-span-3">
                    <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">First name</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                            @ViewBag.Person.Name
                        </p>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label for="last-name" class="leading-6 block text-sm font-medium text-gray-900">Last name</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                            @ViewBag.Person.Family
                        </p>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label class="leading-6 block text-sm font-medium text-gray-900">UserName</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                            @ViewBag.Person.Username
                        </p>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label class="leading-6 block text-sm font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                            @ViewBag.Person.Password
                        </p>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label class="leading-6 block text-sm font-medium text-gray-900">Phone Number</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

                            @ViewBag.Person.PhoneNumber
                        </p>
                    </div>
                </div>

                <div class="sm:col-span-4">
                    <label for="email" class="leading-6 block text-sm font-medium text-gray-900">Email address</label>
                    <div class="mt-2">
                        <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @ViewBag.Person.Email
                        </p>
                    
                    
                    </div>
                </div>


                <div class="col-span-full">
                    <label class="leading-6 block text-sm font-medium text-gray-900">City And Country</label>
                    <div class="mt-2">
                        <p autocomplete="given-name" class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @ViewBag.Person.City_And_Country
                        </p>
                    </div>
                </div>


                <div class="col-span-full flex">

                    <div class="mr-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Telegram</label>
                        <div class="mt-2">
                            <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                @ViewBag.Person.Telegram
                            </p>
                        </div>
                    </div>

                    <div class="mx-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Instagram</label>
                        <div class="mt-2">
                            <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                @ViewBag.Person.Instagram
                            </p>
                        </div>
                    </div>


                </div>

                <div class="col-span-full flex">

                    <div class="mr-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Language</label>
                        <div class="mt-2">
                            <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                @ViewBag.Person.Language
                            </p>
                        </div>
                    </div>

                    <div class="mx-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Favorite Food</label>
                        <div class="mt-2">
                            <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                @ViewBag.Person.Favorit_sport
                            </p>
                        </div>
                    </div>

                    <div class="mx-4 sm:col-span-3">
                        <label for="first-name" class="leading-6 block text-sm font-medium text-gray-900">Favorite Sport</label>
                        <div class="mt-2">
                            <p class="border-0 ring-1 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                @ViewBag.Person.Favorit_food
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </div>



        <div class="">

            <!------- Reservation Table ------->
            <div class="my-8 grid w-fit">
                <p class="">My latest Reservs: </p>

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                        <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="hidden px-6 py-3">
                                    id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tour Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Count
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Reserved By
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Is Active
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    View in Page
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Remove
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Reservation reserve in ViewBag.Reservation)
                            {
                                <tr class="bg-white hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-600">
                                    <th scope="row" class="hidden whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                        @reserve.Id
                                    </th>
                                    <td class="px-6 py-4">
                                        @reserve.Tour_Name
                                    </td>
                                    <td class="px-6 py-4">
                                        @reserve.Reserved_Count
                                    </td>
                                    <td class="px-6 py-4">
                                        @reserve.Person_Name
                                    </td>
                                    <td class="px-6 py-4">
                                        @reserve.Is_Actived
                                    </td>
                                    <td class="px-6 py-4">
                                        <a asp-controller="Tour" asp-action="Tour" asp-route-id="@reserve.fk_Tour">View</a>
                                    </td>
                                    <td class="px-6 py-4">
                                        <a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-id="@reserve.Id">Edit</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-2 w-full">
                    <a asp-action="IndexforPerson" asp-route-id="@ViewBag.Person.Id" asp-controller="Reservation" class="float-right text-sm text-sky-600 hover:underline dark:text-blue-500">See all Items</a>
                </div>

            </div>



            <!------- Comments Table ------->
            <div class="my-8 w-fit">

                <p class="">My latest Comments: </p>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                        <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="hidden px-6 py-3">
                                    Id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Person Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tour
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Time
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Text
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Actived
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    View in Page
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Remove
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Comments comment in ViewBag.Comments)
                            {
                                <tr class="border-b bg-white hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                                    <th scope="row" class="hidden whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                        @comment.Id
                                    </th>
                                    <td class="px-6 py-4">
                                        @comment.Person_Name
                                    </td>
                                    <td class="px-6 py-4">
                                        @comment.Tour_Name
                                    </td>
                                    <td class="px-6 py-4">
                                        @comment.Time
                                    </td>
                                    <td class="px-6 py-4">
                                        @comment.Text
                                    </td>
                                    <td class="px-6 py-4">
                                        @{
                                            var _localdata = "";
                                            if (comment.Is_Actived) _localdata = "Actived";
                                            else _localdata = "Not Actived";
                                        }
                                        @_localdata
                                    </td>
                                    <td class="px-6 py-4">
                                        <a asp-controller="Tour" asp-action="Tour" asp-route-id="@comment.fk_Tour">View</a>
                                    </td>
                                    <td class="px-6 py-4">
                                        <a asp-controller="Comments" asp-action="DeleteComment" asp-route-id="@comment.Id">Edit</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-2 w-full">
                    <a asp-action="IndexforPerson" asp-route-id="@ViewBag.Person.Id" asp-controller="Comments" class="float-right text-sm text-sky-600 hover:underline dark:text-blue-500">See all Items</a>
                </div>
            </div>

        </div>


    </div>





</div>
