@model IEnumerable<Final_project_2.Models.Tour>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateTour">Create New Tour</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_per_person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Acive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality_level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Touring_area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tour_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price_per_person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Acive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Touring_area)
            </td>
            <td>
                <a asp-action="UpdateTour" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Tour" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteTour" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
