@model IEnumerable<Final_project_2.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>@Final_project_2.LangResource.Resource.ReserveList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved_Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active_Tour.Start_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active_Tour.End_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Actived)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tour_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserved_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active_Tour.Start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active_Tour.End_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Actived)
            </td>
            
            
            <td>
                    <button onclick="DeleteDialog(@item.Id)" data-modal-target="Delete-modal" data-modal-toggle="Delete-modal" class="border-0 bg-none hover:text-blue-600"> @Final_project_2.LangResource.Resource.Delete </button>

                    <button onclick="RegisterDialog(@item.Id)" data-modal-target="Register-modal" data-modal-toggle="Register-modal" class="border-0 bg-none hover:text-blue-600"> @Final_project_2.LangResource.Resource.Register </button>
            </td>
        </tr>
          
}
    </tbody>
</table>


<!-- Main Delete modal -->
<div id="Delete-modal" tabindex="-1" aria-hidden="true" class="h-[calc(100%-1rem)] fixed left-0 right-0 top-0 z-50 hidden max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0">
    <div class="relative max-h-full w-full max-w-md p-4">
        <!-- Modal content -->
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    @Final_project_2.LangResource.Resource.Delete
                </h3>
                <button type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="Delete-modal">
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            @using (Html.BeginForm("DeleteReservation", "Reservation", FormMethod.Post))
            {
                <div class="mb-4 grid gap-4">
                    <input class="hidden" id="Delete_Id" name="Id" />
                    <div date-rangepicker class="flex items-center">
                        <div class="relative">
                            
                            <p class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @Final_project_2.LangResource.Resource.DeleteItemSure
                                </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="-ms-1 me-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    @Final_project_2.LangResource.Resource.Delete
                </button>
            }
        </div>
    </div>
</div>


<!-- Main Register modal -->
<div id="Register-modal" tabindex="-1" aria-hidden="true" class="h-[calc(100%-1rem)] fixed left-0 right-0 top-0 z-50 hidden max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0">
    <div class="relative max-h-full w-full max-w-md p-4">
        <!-- Modal content -->
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    @Final_project_2.LangResource.Resource.Register
                </h3>
                <button type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="Register-modal">
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            @using (Html.BeginForm("RegisterReserve", "Reservation", FormMethod.Post))
            {
                <div class="mb-4 grid gap-4">
                    <input class="hidden" id="Register_Id" name="Id" />
                    <div date-rangepicker class="flex items-center">
                        <div class="relative">

                            <p class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @Final_project_2.LangResource.Resource.RegisterReserve
                            </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="-ms-1 me-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    @Final_project_2.LangResource.Resource.Register
                </button>
            }
        </div>
    </div>
</div>


<script>
    function DeleteDialog(Id) {
        document.getElementById("Delete_Id").setAttribute('value', Id);
    }
    function RegisterDialog(Id) {
        document.getElementById("Register_Id").setAttribute('value', Id);
    }
    
</script>
